.article-manager-bg{
    background: rgb(211, 211, 211);
    min-height: 100vh;
    padding: 2rem 0;
    margin: 0;
}

.container {
  margin-top: 2rem;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  color: rgb(92, 92, 92);
}

.header h4 {
  font-weight: bold;
  margin: 0;
}

.create-button {
  background-color: #1976d2; /* Azul Material */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #115293;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.table-container {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
