.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color:#FFF5B7;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 250px;
  height: auto; 
  background: #D87A2E;
  color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(10, 10, 10, 0.2);
  font-style: italic;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
}

small{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}
.article-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px #000000(95, 95, 95, 0.3);
}

.article-image {
  width: 100%;
  height: auto;
  max-height: 250px; 
  object-fit: cover;
  display: block;
}


.read-more-btn {
  align-self: center;
  padding: 8px 14px;
  border: none;
  background-color: #620707;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.read-more-btn:hover {
  background-color: #7d3838;
  transform: translateY(-2px);
}
